
.NavBar:hover,.Nav-Home:hover>.NavBar{
  left: 80%;
  cursor: pointer;
}

.NavBar{
  filter: invert(20%) sepia(4%) saturate(1467%) hue-rotate(359deg) brightness(98%) contrast(84%);
  background-image: url('../sprites/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  width: 20%;
  height: 30%;
  top: -1px;
  left: 97%;
  border-width: 5px;
  border-color: #2D222F;
  border-style: inset;
  z-index: 6;
  transition: left 2s;
}

.Nav-Link{
  text-align: center;
  display: block;
  width: 300px;
  padding: 15px;
  position: relative;
  left: -10%;
  top: 25%;
  margin: 5px;
  font-size: 1.1em;
  z-index: 3;
}

.Nav-Home{
  position: relative;
  left: 30%;
  top: 15%;
  margin: 5px;
  font-size: 1.2em;
    z-index: 3;
}

.NavBar a{
  filter: invert(90%) sepia(63%) saturate(801%) hue-rotate(241deg) brightness(12%) contrast(102%);
}

 a{
   height: 20px;
   width: 40px;
  color: purple;
    z-index: 3;
}

.active  {
   color: white;
}
