#BookImg{
width: 80%;
position: fixed;
left: -18%;
top: -2%;
z-index: -3;
}

#profileImg{
  width: 98%;
}

#ink{
  width: 80%;
  position: relative;
  left: 60%;
  top: 10%;
  cursor: pointer;
}

.UserPage_Library img{
  position: relative;
  width: 40%;
  left: 50%;
  top: 1em;
}


.UserPage_Library a{
  font-size: 1.7em;
position: relative;
left: 20%;
top: -.6em;
color: white;
}

.UserPage_Book img{
  position: relative;
  width: 30%;
  left: 52%;
  top: 1.5em;
}


.UserPage_Book a{
  font-size: 1.2em;
  width: 10px;
  display: inline-block;
  transform: rotate(10deg);
  position: relative;
  left: 32%;
  top: -.4em;
  color: white;
}


.UserPage_Settings img{
  position: relative;
  width: 18%;
  left: 67%;
  top: 2em;
}

.UserPage_Settings a{
  font-size: 1.2em;
  position: relative;
  left: 55%;
  top: -1em;
  color: black;
}



.UserPage_1,.UserPage_2{
  display: inline-block;
  width: 22%;
  height: 53%;
  position: fixed;
  top: 10%;
}

.UserPage_1
{
  font-size: .7em;
  left: 2%;
}

.UserPage_1 p{
  font-size: 1.5em;
}

.UserPage_2{
  left: 26%;
}
