.Card{
  cursor: pointer;
  position: relative;
  left: 34.5%;
  top: 120px;
  padding: 5px;
  margin-top: 25px;
text-align: center;
  background-color: #837090;
  border-radius: 10px;
  width: 30%;
}
